/* Global container for each page */
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px); /* Ajuste pour exclure les marges */
    box-sizing: border-box;
    background-color: #121212; /* Conserve un fond sombre */
  }
  
/* Rapport Power BI (Iframe) */
.report-iframe {
    width: 100%;
    height: calc(100vh - 20px); /* Ajusté pour tenir compte des marges/paddings */
    border: none;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    background-color: #1e1e2f; /* Fond du rapport pour s'harmoniser */
  }

  /* Contenu principal : occupe l'espace restant */
.main-content {
    margin-left: 250px; /* Décalage pour prendre en compte la sidebar */
    flex: 1;
    padding: 20px;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: #121212; /* Fond sombre pour correspondre à l'esthétique */
  }


  /* Responsiveness */
@media (max-width: 768px) {
    .sidebar {
      width: 200px;
    }
  
    .main-content {
      margin-left: 200px;
    }
  }
  
  @media (max-width: 576px) {
    .sidebar {
      width: 180px;
    }
  
    .main-content {
      margin-left: 180px;
    }
  }